@keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes top-slide {
    0%   { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

@keyframes bottom-slide {
    0%   { transform: translateY(200%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}


html {
    animation-name: fade;
    animation-duration: 3s; 
    animation-fill-mode: forwards;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.forecast-item {
    margin-bottom: 15px;
    background-color: rgb(183, 205, 255, 0.6);
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(38, 38, 38, 0.3);
    animation: bottom-slide 0.5s forwards;
    opacity: 0;
}

.forecast-details {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5em;
}

.current-weather-item {
    margin-bottom: 20px;
    background-color: rgb(183, 205, 255, 0.6);
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(38, 38, 38, 0.3);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
}


.icon {
    margin-right: 10px;
    color: #555;
}

.sunrise-sunset {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

.sunrise-sunset div {
    text-align: center;
}

.current-weather-icon {
    width: 80%;
    height: auto;
}

.weather-icon {
    width: 40%;
    height: auto;
}

.sun-icon {
    max-width: 50%;
    height: auto;
}

.sun-info {
    animation-name: top-slide;
    animation-duration: 3s; 
    animation-fill-mode: forwards; 
}

.rain-icon {
    max-width: 13%;
    height: auto;
}