/* styles.css */

html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #b7d3f5;
    color: #262626;
}

.forecast-item {
    margin-bottom: 20px;
    background-color: #cfcece;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forecast-details {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5em;
}

.icon {
    margin-right: 10px;
    color: #555;
}

.sunrise-sunset {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

.sunrise-sunset div {
    text-align: center;
}

.weather-icon {
    width: 60%;
    height: auto;
}

.sun-icon {
    max-width: 50%;
    height: auto;
}

.rain-icon {
    max-width: 13%;
    height: auto;
}