<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <!-- https://releases.jquery.com/ -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <link href="https://unpkg.com/tailwindcss@1.7.0/dist/tailwind.min.css" rel="stylesheet">
    <!-- custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block styles %}
    <!-- CSS content from child templates will go here -->
    {% endblock %}
</head>

<body>
    <div>
        {% block content %}
        <!-- Content from child templates will go here -->
        {% endblock %}
    </div>
</body>

</html>