<!-- TODO: add background image depending on current weather -->
<!-- TODO: add for each box background image depending on forecast weather -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script>
        const currentWeatherDescription = "{{ current_data.wf_description }}";
    </script>
    <script src="{{ url_for('static', filename='js/weather.js') }}" defer></script>
</head>
<body>
    <div class="sunrise-sunset">
        <div>
            <img id="sunrise" src="{{ url_for('static', filename='img/weather/sunrise.png') }}" class="sun-icon">
            <p>{{ weather_data.sunrise }}</p>
        </div>
        <div class="current-weather-item">
            <p>{{ current_data.time }} Uhr</p>
            <p>{{ current_data.temp }}°</p>
            <img src="http://openweathermap.org/img/wn/{{ current_data.wf_icon }}.png" class="current-weather-icon">
        </div>
        <div>
            <img id="sunset" src="{{ url_for('static', filename='img/weather/sunset.png') }}" class="sun-icon">
            <p>{{ weather_data.sunset }}</p>
        </div>
    </div>
    <div class="forecast-details">
        {% for forecast in weather_data.forecasts %}
        <div class="forecast-item">
            <p>{{ forecast.time }} Uhr</p>
            <p>{{ forecast.temp }}°</p>
            <img src="http://openweathermap.org/img/wn/{{ forecast.wf_icon }}.png" class="weather-icon">
            {% if forecast.prop_precip <= 25 %}
                <p><img id="noraint" src="{{ url_for('static', filename='img/weather/no-rain.png') }}" class="rain-icon">    {{ forecast.prop_precip }}%</p>
            {% elif forecast.prop_precip > 25 and forecast.prop_precip <= 50 %}
                <p><img id="wet" src="{{ url_for('static', filename='img/weather/drop-of-liquid.png') }}" class="rain-icon">    {{ forecast.prop_precip }}%</p>
            {% elif forecast.prop_precip > 50 and forecast.prop_precip <= 75 %}
                <p><img id="rainy" src="{{ url_for('static', filename='img/weather/wet.png') }}" class="rain-icon">    {{ forecast.prop_precip }}%</p>
            {% else %}
                <p><img id="umbrella" src="{{ url_for('static', filename='img/weather/umbrella.png') }}" class="rain-icon">    {{ forecast.prop_precip }}%</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>
